<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portale.mapper.LoginMapper">

	<insert id="setRegistration">
		INSERT INTO confirm_registration VALUES (#{guid},
		#{_userauth.username}, #{_userauth.password}, #{_userauth.email},
		#{secret_code}, #{expiration});
	</insert>
</mapper>