<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portale.mapper.NotificationMapper">
	
	<select id="GetNotificationsCount" resultType="java.lang.Long">
		select count(view_id) from notification_view
		where ref_to = #{user_id}
	</select>
	
	<insert id="CreateNotification"
		parameterType="com.portale.model.NotificationObject"
		useGeneratedKeys="true" keyProperty="notification.notification_id">
		insert into
		notifications(date,title,message,importancy_level,from_user,type)
		values
		(#{date},#{title},#{message},#{importancy},#{from_user},#{type})
	</insert>

	<insert id="AppendNotificationToUser">
		insert into
		notification_view(ref_to,notification_ref)
		values
		(#{ref_to},#{notification_ref})
	</insert>

	<select id="GetAllNotifications"
		resultMap="NotificationsResultMap">
		select sender.*, nv.seen
		from users_details ud, notification_view nv
		inner join (select CONCAT(ud.cognome, ' ', ud.nome) AS from_userfullname, n.*
			from notifications n, users_details ud
			where n.from_user = ud.user_ref) sender
			on sender.notification_id = nv.notification_ref
		where nv.ref_to = #{user_id}
		and ud.user_ref = sender.from_user
		
		order by
		sender.notification_id desc
		limit #{limit}
		offset #{offset}
	</select>

	<select id="GetNotificationById"
		resultMap="NotificationsResultMap">
		select sender.*, nv.seen
		from users_details ud, notification_view nv
		inner join (select CONCAT(ud.cognome, ' ', ud.nome) AS from_userfullname, n.*
			from notifications n, users_details ud
			where n.from_user = ud.user_ref) sender
			on sender.notification_id = nv.notification_ref
		where nv.ref_to = #{user_id}
		and ud.user_ref = nv.ref_to
		and sender.notification_id = #{notificationId}
	</select>

	<resultMap id="NotificationsResultMap"
		type="NotificationObject">
		<result property="notification_id" column="notification_id" />
		<result property="from" column="from_user" />
		<result property="date" column="date" />
		<result property="seen" column="seen" />
		<result property="message" column="message" />
		<result property="importancyLevel" column="importancy_level" />
		<result property="fromUserFullname" column="from_userfullname" />
		<result property="type" column="type" />
	</resultMap>
	
	<update id="SetNotificationAsSeen">
		update notification_view
		set seen = true
		from notifications
		where notifications.notification_id = notification_view.notification_ref
		and notifications.notification_id = #{notificationId}
		and notification_view.ref_to = #{user_id}
	</update>

	<select id="AnyUnseenNotifications"
		resultType="java.lang.Boolean">
		select nv.seen
		from notification_view nv
		where nv.ref_to =
		#{to}
		and nv.seen = false
		limit 1
	</select>

	<select id="isNotificationForUser"
		resultType="java.lang.Integer">
		select nv.ref_to
		from notification_view nv, notifications n
		where n.notification_id = #{notificationId}
		and n.notification_id =
		nv.notification_ref
		and nv.ref_to = #{user_id}
	</select>
</mapper>